@tailwind base;
@tailwind components;
@tailwind utilities;

svg.icon:hover {
  fill: yellow;
}

@font-face {
  font-family: LogoFont;
  src: url("../assets/fonts/againts.ttf") format("truetype");
  /* url("../assets/fonts/againts.otf") format("opentype"); */
}

.dropdown:hover .dropdown-menu {
  display: block;
}
