@tailwind base;
@tailwind components;
@tailwind utilities;

svg.icon:hover {
  fill: yellow;
}

@font-face {
  font-family: LogoFont;
  src: url("../assets/fonts/againts.ttf") format("truetype");
}

@font-face {
  font-family: Varsity;
  src: url("../assets/fonts/varsity_regular.ttf") format("truetype");
}

.dropdown:hover .dropdown-menu {
  display: block;
}
